<% layout('./layouts/boilerplate') -%>
<link rel="stylesheet" href="/css/home.css">
<body>


<!-- Hero Section -->
<section class="hero mt-2 text-center d-flex align-items-center" style="background-image: url('/images/part2.gif'); background-size: cover; background-position: center; background-repeat: no-repeat; background-attachment: fixed; min-height: 87vh !important; padding-bottom: 4rem !important;">
    <div class="container">
        <h1>Manage Your Fashion with Ease</h1>
        <p>Organize your wardrobe, get fashion insights, and make sustainable choices.</p>
        <a href="/wardrobe" class="btn btn-primary btn-lg">Start Managing</a>
    </div>
</section>



<!-- Features Section -->
<section class="features py-5 mx-4">
    <div class="w-100">
        <div class="row text-center gap-responsive">
            <div class="col-md-3">
                <a href="/wardrobe" class="text-decoration-none text-dark">
                    <div class="feature-box">
                        <i class="fas fa-tshirt fa-3x text-primary mb-3"></i>
                        <h4>Wardrobe</h4>
                        <p>Manage your clothing collection efficiently.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="/dashboard" class="text-decoration-none text-dark">
                    <div class="feature-box">
                        <i class="fas fa-chart-line fa-3x text-success mb-3"></i>
                        <h4>Dashboard</h4>
                        <p>Gain insights into your wardrobe usage and trends.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="/wardrobe/donated" class="text-decoration-none text-dark">
                    <div class="feature-box">
                        <i class="fas fa-hands-helping fa-3x text-warning mb-3"></i>
                        <h4>Donation</h4>
                        <p>Donate unused clothes and make a difference.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="/sustainability" class="text-decoration-none text-dark">
                    <div class="feature-box">
                        <i class="fas fa-leaf fa-3x text-danger mb-3"></i>
                        <h4>Sustainability Tips</h4>
                        <p>Learn how to make your wardrobe sustainable.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- About Us Section -->
<section class="about-us">
    <div class="text-center">
        <h2>About Us</h2>
        <p>We help you manage your wardrobe and make sustainable fashion choices.</p>

        <!-- Contributors Section -->
        <div class="contributors mt-3 w-100">
            <h3>Meet Our Team</h3>
            <div class="row mt-3 mx-auto photos">
                <div class="col-md-2">
                    <img src="./images/dilson.jpg" alt="Contributor 1" class="rounded-circle contributor-photo">
                    <h5 class="mt-2">Dilson J Fernandes</h5>
                    <p>Web Developer</p>
                </div>
                <div class="col-md-2">
                    <img src="./images/guru.jpg" alt="Contributor 2" class="rounded-circle contributor-photo">
                    <h5 class="mt-2">Guru Kiran</h5>
                    <p>Web Developer</p>
                </div>
                <div class="col-md-2">
                    <img src="./images/Nandeesh.jpg" alt="Contributor 3" class="rounded-circle contributor-photo">
                    <h5 class="mt-2">Nandeesh J Aradhya</h5>
                    <p>Web Developer</p>
                </div>
                <div class="col-md-2">
                    <img src="./images/shariq.jpg" alt="Contributor 4" class="rounded-circle contributor-photo">
                    <h5 class="mt-2">Shariq Khan</h5>
                    <p>Web Developer</p>
                </div>
            </div>
        </div>

        <!-- Social Media Buttons -->
        <div class="social-links mt-3">
            <a href="https://facebook.com" target="_blank" class="btn btn-outline-light btn-sm mx-2">Facebook</a>
            <a href="https://twitter.com" target="_blank" class="btn btn-outline-light btn-sm mx-2">Twitter</a>
            <a href="https://instagram.com" target="_blank" class="btn btn-outline-light btn-sm mx-2">Instagram</a>
        </div>
    </div>
</section>
</body>